body{
  /*margin: 20px 120px;*/
  color: #003366;
  background-color: FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.title {
	color: #5C6AC4;
}
.top{
  padding: 20px 120px;
  background-image: linear-gradient(180deg, #FFFFFF, #FFDDD3)
  /*border: none;*/
  /*box-shadow: 5px 20px;*/
}
span{
  color:#FF5722 ;
  
}

.navul{
  list-style: none;
  overflow: hidden;
  text-align: center;
  display: inline;
  margin: 10px 0px;
  
}
.navli{
  float: left;
  padding: 10px 20px;
}
.nav{
  padding-top: 20px;
}
#logo{
  width: 180px;
}
.reg{
  float: right;
}
li[class="reg nav"]{
  color:#FF5722;
}
.btn1{
  color: white;
  background-color: #FF5722;
  border: none;
  padding: 10px 16px;
  border-radius: 15px;
}
.ban{
  margin: 20px 20px;
  padding: 150px 0px;
  align-content: left center;
  background-image: url('https://i.postimg.cc/4NrgBvmy/Group.png');
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: right center;
}
#ft{
  
  font-size: 40px;
  margin:0px;
  font-weight: bold;
  
}
#subft{
  margin-top: 10px;
  font-size: 20px;
}
.bnimg{
  width: 500px;
  position: top;
}
.donate{
  /*margin:10px 0px 10px 80px;*/
  padding: 10px 20px;
  float: left;
  color: white;
  font-size: 14px;
  border: none;
  background-color:#FF5722;
  border-radius: 15px;
}
.wel{
  margin-top: 80px;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  font-size: 20px;
}
.title1{
  margin: 80px 0px 40px 0px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  
}
.howd{
  margin: 40px 124px 40px 124px;
}
.how{
  list-style: none;
  display: inline-block;
}
.howli{
  float: left;
  text-align: center;
  margin:0px auto 0px auto;
  padding: 20px;
  width: 20%;
}
.icon{
  width:80px;
  height:80px;
}
.howt{
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0px 5px 0px;
}
.howp{
  margin: 0px 0px 0px 0px;
  font-size: 14px;
}
.abul{
  list-style: none;
  display: flex;
  padding: 0px 10px 0px 10px;
  
  
  
}
.abli{
  padding: 0px 10px 0px 10px;
}

#aboutus{
  margin:0px 124px 0px 124px;
  padding: 20px;
  background-color: #FFDDD3;
  border-radius: 25px;
  
}
#abimg{
  width: 300px;
}
.abtext{
  align-items: center;
}
.abtit{
  font-size: 22px;
  padding-left: 10px;
  padding-top: 10px;
  margin-bottom: 10px ;
  margin-top: 0px;
  font-weight: bold;
}
.abpara{
  font-size: 20px;
  padding-left: 10px;
  margin: 10px 20px 0px 0px;
}
.make{
   margin-top: 40px;
  text-align: center;
  margin-left:auto;
  margin-right: auto;
  width:50%;
  font-size: 20px;
}




.stories{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  font-family: 'DM Sans', sans-serif;
  transition: background .4s ease-in;
  // background-color: #c394f8;
  
  // &.blue {
  //   background-color: #428aa6;
  // }
}

input[type=radio] {
  display: none;
}

.card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.container {
  width: 700px;
  /*// max-width: 600pxpx;*/
  /*// max-height: 240px;*/
  height: 225px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
  
  img {
    box-shadow: 0px 0px 5px 0px rgba(125, 125, 125, 0.47);
  }
}

.data{
  background-color: #FFDDD3;
  margin: 80px 124px;
  border-radius: 25px;
}
.datalist{
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 20px;
}
.datadiv{
  text-align: center;
}
.datas{
  
  margin:0px auto 0px auto;
  padding: 20px;
  width: 20%;
}
.datatit{
  font-weight: bold;
  font-size: 30px;
  margin :0px;
  padding: 0px;
}
.datasub{
  font-size: 18px;
  margin: 0px;
}
.involved{
  text-align: center;
  
}
.btn2{
  text-align: center;
  color: white;
  background-color: #FF5722;
  border: none;
  padding: 10px 16px;
  border-radius: 15px;
}
.com{
  margin-top: 40px;
  margin-left:auto;
  margin-right: auto;
  width:80%;
}
.footer{
  
  
}
.fotnav{
  margin: 80px 0px 0px 0px;
  padding: 40px 0px;
  text-align: center;
  background-color: #FFDDD3;
}
.fotul{
  
  list-style: none;
}
.fotli{
  display: inline;
  padding: 10px 10px 10px 10px;
  
}
.ftimg{
  width:30px;
}
